@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-century-gothic: "Century Gothic", "AppleGothic", sans-serif;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-century-gothic);
}
.bg-taxila {
  background-image: url('https://taxila.in/img/taxila.jpg');
  background-size: cover;
  background-position: center;
}
.tab-buttons a {
      margin-right: 10px;
      padding: 8px 12px;
      background: #eee;
      text-decoration: none;
      border-radius: 5px;
      color: #333;
    }

    .tab-content {
      display: none;
      margin-top: 20px;
      padding: 10px;
      background: #f8f8f8;
      border: 1px solid #ccc;
    }

    /* Show only the targeted tab */
    .tab-content:target {
      display: block;
    }

    /* Optional: Default tab if no target is selected */
    .tabs:not(:has(:target)) #tab1 {
      display: block;
    }
    @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
  width: max-content;
}
